@use '_colors';
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

body {
    font-family: Jost;
    background-color: colors.$page-back;
    color: colors.$page-text;
}

span.line {
    display: inline-block;
}

@media only screen and (min-width: 768px) {
    main {
        max-width: 1000px;
        display: inline-block;
        margin: 0 auto;
        display: block;
    }
}
