<form
    #joinForm="ngForm"
    *ngIf="!joined"
>
    <p>Código da sala:</p>
    <input
        id="code"
        type="text"
        maxlength="4"
        required
        placeholder="????"
        autofocus
        autocomplete="off"
        oninput="this.value = this.value.toUpperCase()"
        [(ngModel)]="code"
        name="code"
    >

    <div *ngIf="!isLoggedIn()">
        <p>Nome de usuário:</p>
        <input
            id="name"
            type="text"
            required
            [(ngModel)]="name"
            name="name"
        >
    </div>

    <button
        (click)="join()"
        class="bigbutton"
    >
        Entrar
    </button>
</form>
<div *ngIf="joined">
    <h1>Esperando o jogo começar...</h1>
    <nr-waiting-list [permanentOnlineUser]="getUser()"></nr-waiting-list>
</div>
