.grid{
    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 30% auto 30%;
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
}
.fundo{
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}
.fundo#um{
    background-size: 130%;
    background-position: bottom;
    background-image: url("../img/tutoriais/tutorial1.gif");
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.fundo#dois{
    background-position: bottom;
    background-image: url("../img/tutoriais/tutorial2.gif");   
     grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.fundo#tres{
    background-image: url("../img/tutoriais/tutorial3.gif");   
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}

.fundo#quatro{
    background-image: url("../img/tutoriais/tutorial4.gif");   
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}
.fundo#cinco{
    background-image: url("../img/tutoriais/tutorial5.png");   
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.fundo#seis{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
