.fundoprincipal{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: 20% auto 20%;
    grid-template-rows: 26% 14% 60%;
    background-color: #ffffff;
    
}
.fundo{
    border: 10px solid #9f9f9f;
    padding: 10px;
    margin: 10px;
    background-color: #444444;
}
.fundo#click{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.fundo#loja{
    grid-column-start:1;
    grid-column-end:2;
    grid-row-start:2;
    grid-row-end:4;
    overflow: auto;
}
.fundo#arquivos{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
    overflow: auto;
}
.fundo#codigo{
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    overflow: auto;
}
.fundo#upgrade{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    overflow: auto;
}
#Pczinho{
    width: 100%;
  height: auto;
}
.imgItens{
    width:100px;
    height:auto;
}


.imgUpgradeProgramador{
    width:100px;
    height:auto;
}
.imgUpgradeIa{
    width:100px;
    height:auto;
}
.itemImg{
    width: 100px;
    height: auto;
}
.imgUpgradeKarem{
    width: 100px;
    height: auto;
}
.imgUpgradeAlien{
    width: 100px;
    height: auto;
}
.imgUpgradeWanghley{
    width: 100px;
    height: auto;
}
.imgUpgradeStartUp{
    width: 100px;
    height: auto;
}
.imgUpgradeClique{
    width: 100px;
    height: auto;
}
#sacrificioP{
    width: 100px;
    height: auto;
}