p {
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    #credits {
        text-align: center;
    }
    
    #contents {
        margin: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {    
    #credits {
        padding-left: 10px;
        margin-bottom: 0.5rem;
    }

    #container {
        display: flex;
    }

    #contents {
        padding-left: 10px;
    }

    p {
        margin: 0;
    }
}
