<ng-container *ngIf="(game$ | async) as game">
    <gs-game-title [game]="game"></gs-game-title>
    <div id="container">
        <gs-screenshot [game]="game"></gs-screenshot>
        <div>
            <div id="credits">
                Por
                <span [innerHTML]="credits$ | async"></span>
            </div>
            <div id="contents">
                <p [innerHTML]="description$ | async"></p>
                <gs-menu [game]="game"></gs-menu>
            </div>
        </div>
    </div>
</ng-container>
