@use '_colors';

:host {
    flex-basis: 100%;
}

ul {
    list-style-type: none;
    font-size: 150%;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    display: inline-block;    
    padding-left: 1rem;
    color: colors.$gamemenu-link;
    text-decoration: none;
    width: 100%;    
}

a:hover {
    color: colors.$gamemenu-hover-text;
    background-color: colors.$gamemenu-hover-back;
}

@media only screen and (max-width: 767px) {
    ul {
        text-align: center;
    }
}