article p {
    text-align: justify;
}

img {
    margin-top: 2rem;
}

@media only screen and (min-width: 768px) {
    img {
        float: left;
        margin-top: 0;
        margin-right: 2rem;
    }

    article {
        margin: 2rem;
    }
}
