article p {
    text-align: justify;
}

@media only screen and (max-width: 767px) {
    img {
        display: block;
        margin: 1.5rem auto;
    }

    article {
        margin: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    img {
        float: left;
        margin-top: 0;
        margin-right: 2rem;
    }

    article {
        margin: 2rem;
    }
}
