<nav>
    <div>
        <a *ngIf="showLogo" [routerLink]="'/'">
            <img
                src="assets/guejibonav.png"
                alt="Guejibo"
            >
        </a>
    </div>

    <div *ngIf="loggedIn">
        <ul>
            <li>{{user.name}}</li>
            <li><a [routerLink]="'/logout'">Sair</a></li>
        </ul>
    </div>

    <div *ngIf="!loggedIn">
        <ul>
            <li>
                <a [routerLink]="'/register'">Crie sua conta</a>
            </li>
            <li>
                <a [routerLink]="'/login'">Entre</a>
            </li>
        </ul>
    </div>
</nav>
