nav {
    background-color: #005da8;
    color: white;
    font-size: 90%;
    font-weight: bold; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-shadow: 0px 0px 4px #272b31; 
}

div {
    height: 43px;
}

ul {
    list-style: none;
    margin: 0;
    display: inline;
    line-height: 43px;

    margin-right: 2rem;

    li {
        display: inline;
        margin-left: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    img {
        margin-left: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    img {
        margin-left: 2rem;
    }
}

