body {
	background: #00000B;
	overflow: hidden;
	font-family: Candara;
	/*background-image: url('../img/espaco.jpg');*/
	background-position: top;
	background-size: cover;
}

button {
	display: block;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover {
	opacity: .8;
}

#espaco {
	width: 75%;
	height: 100%;
	margin: 0;
	padding: 0;
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

#espaco_obstaculos_a, #espaco_obstaculos_b {
	position: absolute;
/*	display: none;*/
}

#espaco_obstaculos_a {
	left: -80%;
	top: 45%;
	width: 100%;
	height: 45%;
/*	background: rgba(50, 50, 50, .3);*/
}

#espaco_obstaculos_b {
	left: 80%;
	width: 100%;
	height: 45%;
/*	background: rgba(50, 50, 50, .3);*/
}

#painel {
	/*background: rgba(255, 255, 255, .3);*/
	color: #000;
/*	padding: 10px;*/
	height: 100%;
	width: 25%;
	border-radius: 2px;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	background-color: #fff;
	border: 2px solid #606060;
	box-shadow: 1px 1px 5px #fff;
}

#painel img {
	max-width: 100%;
	max-height: 300px;
}

#painel h3 {
	font-size: 13px;
	margin-bottom: 0px;
}

#painel h4 {
	margin-top: 0px;
	font-size: 30px;
}

.alinhados {
	display: flex;
	justify-content: space-around;
}

/* TOAST */

.toast {
	position: fixed;
	bottom: 25px;
	left: 15%;
	width: 50%;
	z-index: 1000;
	color: #fff;
	padding: 10px;
	padding-right: 20px;
	border-radius: 5px;
	display: none;
	height: auto;
}

.toast p {
	font-size: 20px;
	text-align: center;
	line-height: 0;
	margin: 10px 0px;
}

.chegou_fim {
	display: none;
}

#laser {
	background-image: linear-gradient(green, orange, yellow, red);
	box-shadow: 1px 1px 10px #fff;
	width: 5px;
	height: 25px;
	position: absolute;
	left: 50%;
	top: -35px;
	border-radius: 10px;
	display: none;
	z-index: 150;
}

/* --- */


/* INICIAR JOGO */

#bg_iniciar_jogo {
	background: rgba(0, 0, 0, .95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 1000;
}

#iniciar_jogo {
	background-color: #fff;
	width: 90%;
	margin: 20% auto;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid darkblue;
}

#iniciar_jogo h2 , #pause h2 {
	text-align: center;
	background-image: linear-gradient(darkblue, blue);
	color: #fff;
	border-radius: 10px;
}

#iniciar_jogo li {
	margin-bottom: 10px;
}

#btn_jogar {
	background-color: darkblue;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
}

#input_apelido {
	border: none;
	border-bottom: 1px solid #606060;
	padding: 5px;
}

input:focus {
	outline: none;
}

label {
	cursor: pointer;
	margin-right: 5px;
	margin-left: 3%;
}

/* --- */

/* PAUSE */

#bg_pause {
	background: rgba(0, 0, 0, .95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	z-index: 500;
}

#pause {
	background-color: #fff;
	width: 90%;
	margin: 7px auto;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid darkblue;
}

#pause p {
	text-align: center;
}

/* --- */

/* GAME OVER */

#mensagem_game_over {
	padding: 5px 0px;
	border-top: 1px solid #606060;
	border-bottom: 1px solid #606060;
	font-weight: bolder;
	font-size: 18px;
}

#bg_game_over {
	background: rgba(0, 0, 0, .95);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	display: none;
}

#game_over {
	background-color: #fff;
	width: 80%;
	padding: 10px;
	border-radius: 10px;
	border: 2px solid darkblue;
	margin: 5% auto;
}

#game_over h2 {
	text-align: center;
	background-image: linear-gradient(darkblue, blue);
	color: #fff;
	border-radius: 10px;
}

#game_over p {
	margin-top: 15px;
}

#btn_jogar_novamente {
	background-color: darkblue;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	margin: 0 auto;
}

/* --- */


/* ALTERNATIVAS */

#alternativas {
	position: absolute;
	top: 2%;
	left: 1%;
	width: 95%;
	background: transparent;
	z-index: 100;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

#alternativas .ajuda {
	font-size: 15px;
	position: absolute;
	top: -35px;
	left: 20%;
	line-height: 10px;
	text-align: center;
	background: darkblue;
	padding: 5px;
/*	width: 20px;
	height: 20px;*/
	line-height: 15px;
	border-radius: 50%;
}


#alternativas div {
	background: #212121;
	width: 150px;
	height: 45px;
	text-align: center;
	border-radius: 10%;
	font-size: 1em;
	color: #fff;
	border: 2px solid #ccc;
	position: relative;
	line-height: 45px;
}

#nave {
	width: 49px;
	height: 70px;
	position: absolute;
	top: 85%;
	left: 50%;
	background-image: url('../img/nave.png');
	background-position: center;
	background-size: cover;
	transition: transform 0.3s;
}

.obstaculo {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-position: center;
	background-size: cover;
	position: absolute;
}