div {
    border: 1px solid green;
    background-color: peachpuff;
    width: 320px;
    height: 213px;
}

@media only screen and (max-width: 768px) {
    div {
        margin: 1rem auto;
    }
}

@media only screen and (min-width: 768px) {
    div {        
        margin-right: 1rem;
    }
}