@use '_colors';

div {
    text-align: left;
    width: 200px;
    margin: auto;
}

.name {
    display: inline-block;
    width: 120px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.status::before {
    content: "●";
    margin-right: 5px;
}

.score {
    font-weight: bold;
}

.score::before{
    color: colors.$gameroom-wuser-online;
}

.online {
    color: colors.$gameroom-wuser-online;
    font-weight: bold;
}

.offline {
    color: colors.$gameroom-wuser-offline;
}

.done {
    color: colors.$gameroom-wuser-done;
    font-weight: bold;
}

.done::before {
    color: colors.$gameroom-wlist-back;
}

@media only screen and (max-width: 767px) {
    div {
        display: inline-block;
    }
}
