<ng-container *ngIf="gameRoom">
    <gs-game-title [game]="gameRoom.game"></gs-game-title>
    <div id="gamecode">
        <p id="p1">Código da sala:</p>
        <div>{{gameRoom.code}}</div>
        <p id="p2">
            Para participar, os jogadores devem visitar
            <br>
            <a
                href="http://www.guejibo.com/join"
                target="_blank"
            >
                <strong>http://www.guejibo.com/join</strong>
            </a>
            <br>
            e digitar o código acima
        </p>
    </div>
    <nr-waiting-list
        (gameStart)="gameStart()"
        showStartGameButton="true"
    ></nr-waiting-list>
</ng-container>
