@use '_colors';

#gamecode {
    text-align: center;

    #p1 {
        margin-bottom: 0.5rem;
    }

    div {
        color: colors.$gameroom-code-text;
        background-color: colors.$gameroom-code-back;
        padding: 1rem 2rem;
        display: inline-block;
        margin: 0 auto;
        font-size: xx-large;
        font-weight: bold;
        letter-spacing: 5px;
    }

    #p2 {
        margin: 2rem 0;

        a {
            color: colors.$gameroom-link;
            text-decoration: none;        
        }

        a:hover {
            text-decoration: underline;
        }        

        strong {
            font-size: 130%;
        }
    }    
}
