#gamecode {
    text-align: center;

    #p1 {
        margin-bottom: 0.5rem;
    }

    div {
        background-color: rgb(106, 231, 123);
        padding: 1rem 2rem;
        display: inline-block;
        margin: 0 auto;
        font-size: xx-large;
        font-weight: bold;
        letter-spacing: 5px;
    }
}
