@mixin host {
    display: block;
    background-color: rgb(240, 243, 245);
    max-width: 400px;
    padding: 20px 30px;
    margin: 1rem auto;
}

@mixin contents {
    h1 {
        margin: 0;
    }
    
    p {
        margin-bottom: 5px;
    
        span {
            color: red;
        }
    }
    
    .ng-invalid:not(form) {
        background-color: rgb(168, 120, 120);
    }
    
    .ng-pristine:not(form) {
        background-color: white;
    }
    
    input {
        width: 100%;
        height: 30px;
        border: 1px solid rgb(145, 145, 145);
        border-radius: 2px;
        font-size: 110%;
        padding-left: 5px;
    }
    
    input:focus {
        box-shadow: 0px 0px 4px 1px rgb(79, 79, 255);
    }
    
    #error {
        margin-top: 2rem;
        margin-bottom: 0;
        color: red;
    }
    
    #buttondiv {
        text-align: center;
    }
}
